/* Encabezado */

.titulo {
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--mat-sys-on-primary-container);
}
.titulo h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: 800;
}

/* Stepper */
.stepper-personalizado {
  transition:
    box-shadow 0.25s ease,
    transform 0.25s ease;
  --mat-stepper-header-hover-state-layer-color: var(--mat-sys-primary-container);
  --mat-stepper-header-focus-state-layer-color: var(--mat-sys-primary-container);
}
.stepper-personalizado:hover {
  box-shadow:
    0 6px 12px rgba(0, 0, 0, 0.08),
    0 14px 30px rgba(0, 0, 0, 0.08);
}

/* Títulos de pasos */
.titulo-paso {
  font-weight: 600;
  color: var(--mat-sys-on-surface);
}

/* Contenido */
.contenido-paso {
  padding: 0px 0px 0px 0px;
}
.contenido-paso p {
  margin: 0 0 10px;
  color: var(--mat-sys-on-primary-container);
  font-size: 0.95rem;
  line-height: 1.7;
}

/* Botones */
.acciones-paso {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Responsive */
@media (max-width: 640px) {
  .titulo h1 {
    font-size: 1.7rem;
  }
}
