.logo-icon {
  width: 48px;
  height: 48px;
  object-fit: contain;
  flex-shrink: 0;
}
/*Al hacer click en un enlace activo*/
.active-link {
  color: var(--mat-sys-primary) !important;
  background-color: var(--mat-sys-primary-container) !important;
  font-weight: 600 !important;
}
